.settingsContainer {
  padding: 0px 10px;
}

.settingsWrapper {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid silver;
  color: white;
  justify-content: space-between;
  align-items: center;
}
.infoSettings {
  display: flex;
}
.settingsWrapper p {
  margin-left: 10px;
}
.infoSettings input {
  background-color: transparent;
  outline: none;
  border: none;
  padding-left: 10px;
  padding-top: 6px;
  color: white;
}

.infoSettings input::placeholder {
  color: white;
}
