.navbar {
  display: flex;
  align-items: center;
  background-color: #2f2d52;
  height: 50px;
  padding: 10px;
  justify-content: space-between;
  color: #ddddf7;
}
.navbar span {
  font-size: 18px;
}
.logo {
  font-weight: bold;
}
.user {
  display: flex;
  gap: 10px;
  align-items: center;
}
.user img {
  background-color: #ddddf7;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
}
button {
  cursor: pointer;
  background-color: #5d5b8d;
  font-style: 10px;
  border: none;
  color: #ddddf7;
}
.navbarDisplayName {
  display: flex;
  gap: 10px;
  align-items: center;
}
.logoutIcon {
  font-style: 12px;
}
@media screen and (max-width: 900px) {
  .logo {
    display: none;
  }
  .user {
    width: 100%;
    justify-content: space-between;
  }
  .navbarDisplayName {
    display: flex;
    gap: 10px;
    align-items: center;
  }
}
